<!-- Star Quiz Card -->
<div class="quiz-card">
  <div class="quiz-card-header">
    <div class="quiz-card-header-left">
      <i [class]="quiz.icon"></i>
      <div class="quiz-card-header-left-text">
        <h3>{{ quiz.title }}</h3>
        <span>6 Questions</span>
      </div>
    </div>
    <button
      (click)="quizService.toUnCompletedQuizes(quiz.id, quiz.category)"
      [style.display]="quiz.completed ? 'block' : 'none'"
    >
      <i class="fa-solid fa-trash"></i>
    </button>
  </div>
  <div class="quiz-card-score">
    <span>Score</span>
    <div class="quiz-card-score-progress-bar">
      <div
        class="quiz-card-score-progress-bar-fill"
        [style.width]="quiz.score + '%'"
      ></div>
    </div>
    <span class="quiz-card-score-percentage">{{ quiz.score }}%</span>
  </div>
  <div class="quiz-card-footer">
    <div class="quiz-card-footer-text">
      <div class="quiz-card-footer-text-difficulty">
        <span class="material-symbols-outlined">speed</span>
        <span class="quiz-card-footer-text-difficulty-text">{{
          quiz.difficulty
        }}</span>
      </div>
      <div
        class="quiz-card-footer-text-completed-container"
        [style.display]="quiz.completed ? 'flex' : 'none'"
      >
        <i class="fa-solid fa-flag"></i>
        <span>{{ quiz.completed ? "Completed" : "" }}</span>
      </div>
    </div>
    <button class="quiz-card-button">
      <i class="fa-solid fa-play"></i>
      {{ quiz.completed ? "Replay" : "Start Quiz" }}
    </button>
  </div>
</div>
<!-- End Quiz Card -->
