<!-- Header Start -->
<div class="header">
  <div class="container-fluid">
    <div class="header-logo">
      <span class="logo-icon">Q</span>
      <div class="logo-text">
        <span>Dev</span>
        Quiz
      </div>
    </div>
    <div class="header-search-bar">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input type="text" placeholder="Search Quiz..." />
    </div>
    <div class="header-tool-bar">
      <div class="tool-bar-theme-toggle">
        <button><i class="fa-solid fa-sun"></i></button>
        <span>|</span>
        <!-- <i class="fa-solid fa-moon"></i> -->
      </div>
      <div class="tool-bar-points">
        <i class="fa-solid fa-coins"></i>
        100
        <span class="tool-bar-points-text"> points</span>
      </div>
    </div>
  </div>
</div>

<!-- Header End -->
