/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #Dc2626;
  --secondary-color: #fbe9e9;
  --body-color: #f9fafb;
  --header-color: #fff;
}

.dark-theme {
  --primary-color: #Dc2626;
  --secondary-color: #0a0a0a;
  --body-color: #1e293b;
  --header-color: var(--secondary-color);
}

html {
  font-size: 16px;
}

@media (max-width: 768px) {
  html {
    font-size: 13px;
  }
}

body {
  font-family: "Poppins", sans-serif;
}